spring:
  config:
    import: optional:classpath:application-local.yml
  application:
    name: couple-movie
  
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    mongodb:
      uri: ${MONGO_URI}
    elasticsearch:
      client:
        reactive:
          endpoints: ${ELASTICSEARCH_URL}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid,profile,email,https://www.googleapis.com/auth/userinfo.profile

app:
  jwt:
    secret: ${JWT_SECRET:verysecretkeythatshouldbechangedinproduction}
    expiration-ms: ${JWT_EXPIRATION_MS}
  omdb:
    api-key: ${OMDB_API_KEY}
  ai:
    api-key: ${AI_API_KEY}
